fastapi
uvicorn
python-jose[cryptography]
passlib[bcrypt]
python-multipart
sqlalchemy
alembic
pydantic[email]
pydantic-settings
starlette
prometheus-client
prometheus-fastapi-instrumentator
structlog
tenacity
httpx
redis
sqlmodel
loguru
psycopg2-binary
pretty-errors
rich
python-json-logger
colorama
asyncpg
asyncpgsa
